@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --very-dark-blue/* (main background) */: hsl(233, 47%, 7%);
    --dark-desaturated-blue /* (card background) */: hsl(244, 38%, 16%);
    --soft-violet /* (accent) */: hsl(277, 64%, 61%);
    --white /* (main heading, stats) */: hsl(0, 0%, 100%);
    --paragraph /* (main paragraph) */: hsla(0, 0%, 100%, 0.75);
    --stats-title /* (stat headings) */: hsla(0, 0%, 100%, 0.6);

}
html{
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    padding-top: 8rem;
    padding-bottom: 16rem;
    font-size: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
}
.card {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--dark-desaturated-blue);
    max-width: 37.5rem;
    min-width: 18.5rem;
    width: 90%;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
}
.card-header {
    display: block;
    position: relative;
}
.card-header-mobile {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    mix-blend-mode: multiply;
    opacity: 0.75;
    z-index: 2;
}
.card-header-filter {
    background-color: var(--soft-violet);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}
.card-body {
    width: auto;
    padding: 8%;
}
.card-body-title {
    font-family: 'Inter', sans-serif;
    color: var(--white);
}
.card-body-title span {
    color: var(--soft-violet);
}
.card-body-text {
    line-height: 2.5rem;
    color: var(--paragraph);
    opacity: 90%;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 3rem;
    text-align: justify;
    text-align: center;
}
.card-body-stats {
    margin-top: 4rem;
}
.card-body-stats-text {
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: white;

}
.card-body-stats-title {
    font-size: 1.2rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    letter-spacing: .2rem;
    margin-top: .6rem;
    color: var(--stats-title);
    text-transform: uppercase;

}

@media only screen and (min-width:90rem) {
    body {
        margin: 0;
        padding: 0;
    }
    .card {
        display: flex;
        flex-flow: row-reverse wrap;
        height: 58%;
        min-width: 80%;
        width: 60%;
    }
    .card-header {
        display: inline;
        width: 50%;
        height: 100%;
        position: relative;
    }
    .card-header-desktop {
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        opacity: 0.75;
        z-index: 2;
    }
    .card-body {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        float: left;
        text-align: start;
        width: 50%;
        padding: 0;
    }
    .card-body-title {
        margin-top: 6rem;
        margin-bottom: 1rem;
        font-size: 3.8rem;
        width: 70%;
        margin-left: 0;
        padding-left: 0;
    }
    .card-body-text {
        margin-top: .5rem;
        text-align: start;
        width: 70%;
        font-size: 1.6rem;
    }
    .card-body-stats-container {
        width: 75%;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 4rem;
    }
    .card-body-stats {
        margin: 2rem;
    }
    .card-body-stats-text {
        font-size: 2.5rem;
    }
    .card-body-stats-title {
        font-size: 1.4rem;
    }
}